block award-section
    .award-section
        .container
            .award
                img(class="award__img" src="img/picture-award.png" title="Лауреат премии Знак Качества")
                .award__text Лауреат премии Знак Качества<br>XXI Века 2019 года