block contact-section
    .contact-section
        #map-container.contact-section__map
        .container.contact-section__container
            .contact-section__contact-box#contact-section
                h2.title.title_h2.contact-section__title
                    span.title__text Наши Контакты
                    span.title__divider
                .contact-list
                    .contact
                        span.contact__title Москва
                        a(class="contact__link" href="tel:+74993506304")
                            i.icon.icon_phone
                            span.contact__text + 7 (499) 350-63-04
                    .contact
                        span.contact__title Санкт-Петербург
                        a(class="contact__link" href="tel:+78123094397")
                            i.icon.icon_phone
                            span.contact__text + 7 (812) 309-43-97
                    .contact
                        span.contact__title Киров (производство)
                        a(class="contact__link" href="tel:+78332680261")
                            i.icon.icon_phone
                            span.contact__text + 7 (833) 268-02-61
                    .contact
                        .contact__link
                            i.icon.icon_placemark
                            span.contact__text г. Киров, ул. Весенняя 93