block feedback-section
    .feedback-section#feedback-section
        .container
            h2.title.title_h2
                span.title__text Отзывы о нашей компании
                span.title__divider
            .feedback-section__slider.slider#feedback-section
                .slider__content
                    .slider__item
                        .feedback
                            img(class="feedback__img" src="img/picture-feedback-4.jpg")
                            .feedback__name Сергей Павлюшенко
                            .feedback__city (г. Пушкино)
                            p.feedback__p Заказывал на сайте Toplivnie-Briketi.ru пеллеты 6 мм в мешках в количестве 10 тонн для отопления загородного дома.
                            p.feedback__p Изначально искал минимальную цену. Но в итоге, качество порадовало крайне. Один мешок с испорченной упаковкой мне сразу заменил водитель без разговоров. В остальном нареканий вообще нет.
                            p.feedback__p Сейчас жалею только, что на момент покупки не действовала акция.

                    .slider__item
                        .feedback
                            img(class="feedback__img" src="img/picture-feedback-3.jpg")
                            .feedback__name Инна Рогожкина
                            .feedback__city (г. Санкт-Петербург)
                            p.feedback__p Хочу отметить плюсы и минусы честно как есть. Надеюсь мои замечания помогут улучшить сервис.
                            p.feedback__p Итак минус: я была вынуждена ожидать доставку около 3 часов, так как водитель задержался. При этом, он не предупредил заранее, а уже позвонил, когда опоздал минут на 15 и сказал, что задерживается на пару часов. Я планировала уезжать и была крайне раздосадована.
                            p.feedback__p Плюсы: Очень хорошее качество топливных брикетов РУФ. Упаковка идеальная – толстый полиэтилен (порвать тяжело). Менеджеры опытные.
                            p.feedback__p Буду заказывать повторно, но прошу руководство компании обратить внимание на более точную доставку или уж научить водителей звонить заранее.

                    .slider__item
                        .feedback
                            img(class="feedback__img" src="img/picture-feedback-2.jpg")
                            .feedback__name Ген. Директор ООО «ПромСнаб» Иванов Леонид Михайлович
                            .feedback__city (г. Москва)
                            p.feedback__p Хочу высказать благодарность интернет-магазину Toplivnie-Briketi.ru за постоянное сотрудничество и ответственность. Мы регулярно используем на объектах пеллетные котлы, для отопления бытовочных городков.
                            p.feedback__p Нам необходимы четкие постоянные поставки 1-2 раза в неделю. Нас ни разу не подвели! Это редкость. Очень страшно остаться без отопления. Ведь большие запасы мы держать не в состоянии. Поэтому рады, что нашли ответственного поставщика.


                    .slider__item
                        .feedback
                            img(class="feedback__img" src="img/picture-feedback-1.jpg")
                            .feedback__name Каштанов Алексей
                            .feedback__city (г. Москва)
                            p.feedback__p Заказываю пеллеты, для нашей дачи в Орехово-Зуево уже в третий раз. Все устраивает.
                            p.feedback__p С третьего заказа даже дали постоянную скидку 5%. Что крайне приятно. Стараюсь заказывать в моменты проведения акций. Но их надо ловить – они не постоянные. Поэтому стараюсь постоянно мониторить сайт Toplivnie-Briketi.ru
                            p.feedback__p Совет: если увидели акцию – смело заказывайте, не ждите. Они у них повторяются примерно 2-3 раза за сезон. Лучше не пропускать. Качество пеллет хорошее.

                .slider__controls
                    button.slider__prev
                        i.icon.icon_arrow.slider__icon_arrow
                    button.slider__next
                        i.icon.icon_arrow.slider__icon_arrow




