block product-section
    .product-section
        .anchor-section
            .container
                .anchor-list
                    .anchor
                        img(class="anchor__img" src="img/picture-pellety-1.jpg")
                        .anchor__title Пеллеты
                        a(class="btn anchor__link" href="#pellety") Подробнее

                    .anchor
                        img(class="anchor__img" src="img/picture-brikety-1.jpg")
                        .anchor__title Брикеты
                        a(class="btn anchor__link" href="#brikety") Подробнее

        .pellety#pellety
            .container

                h2.title.title_h2
                    span.title__text Пеллеты
                    span.title__divider

                .product-list
                    .product.product-list__item
                        .column
                            .product__img-wrap
                                img(class="product__img" src="img/picture-pellety-2.jpg")
                            .product__title Пеллеты белые DIN + 6 мм
                            .product__price 7 350 руб.
                            .product__characteristic Цвет - Белые
                            .product__characteristic Упаковка - Мешки 15 кг
                        a(class="btn product__anchor" href="#pellety-belye-din-6-mm") Купить

                    .product.product-list__item
                        .column
                            .product__img-wrap
                                img(class="product__img" src="img/picture-pellety-3.jpg")
                            .product__title Пеллеты белые DIN + 8 мм
                            .product__price 6 970 руб.
                            .product__characteristic Цвет - Белые
                            .product__characteristic Упаковка - Биг-Бэг 1 тонна
                        a(class="btn product__anchor" href="#pellety-belye-din-8-mm") Купить

                    .product.product-list__item
                        .column
                            .product__img-wrap
                                img(class="product__img" src="img/picture-pellety-4.jpg")
                            .product__title Пеллеты серые DIN + 8 мм
                            .product__price 6 500 руб.
                            .product__characteristic Цвет - Серые
                            .product__characteristic Упаковка - Мешки 20 кг
                        a(class="btn product__anchor" href="#pellety-serye-din-8-mm") Купить

                    .product.product-list__item
                        .column
                            .product__img-wrap
                                img(class="product__img" src="img/picture-pellety-5.jpg")
                            .product__title Агропеллеты 8 мм
                            .product__price 5 630 руб.
                            .product__characteristic Цвет - Темные
                            .product__characteristic Упаковка - Биг-Бэг 1 тонна
                        a(class="btn product__anchor" href="#agropellety-8-mm") Купить



                .table-wrap
                    table.table
                        tbody
                            tr
                                th Наименование
                                th Цвет
                                th Упаковка
                                th Цена руб./т.
                            tr#pellety-belye-din-6-mm
                                td Пеллеты белые DIN+ 6 мм
                                td Белые
                                td Мешки 15 кг
                                td.price 7 350 руб.
                            tr
                                td Пеллеты белые DIN+ 6 мм
                                td Белые
                                td Мешки 20 кг
                                td.price 7 300 руб.
                            tr
                                td Пеллеты белые DIN+ 6 мм
                                td Белые
                                td Биг-Бэг 1 тонна
                                td.price 7 000 руб.
                            tr
                                td Пеллеты белые DIN+ 8 мм
                                td Белые
                                td Мешки 15 кг
                                td.price 7 320 руб.
                            tr#pellety-belye-din-8-mm
                                td Пеллеты белые DIN+ 8 мм
                                td Белые
                                td Мешки 20 кг
                                td.price 7 270 руб.
                            tr
                                td Пеллеты белые DIN + 6 мм
                                td Белые
                                td Биг-Бэг 1 тонна
                                td.price 6 970 руб.
                            tr#pellety-serye-din-8-mm
                                td Пеллеты серые DIN 8 мм
                                td Серые
                                td Мешки 20 кг
                                td.price 6 500 руб.
                            tr
                                td Пеллеты серые DIN 8 мм
                                td Серые
                                td Биг-Бэг 1 тонна
                                td.price 6 220 руб.
                            tr#agropellety-8-mm
                                td Агропеллеты 8 мм
                                td Темные
                                td Биг-Бэг 1 тонна
                                td.price 5 630 руб.


        .brikety#brikety
            .container

                h2.title.title_h2
                    span.title__text Брикеты
                    span.title__divider

                .product-list
                    .product.product-list__item
                        .column
                            .product__img-wrap
                                img(class="product__img" src="img/picture-brikety-2.jpg")

                            .product__title RUF
                            .product__price 7 100 руб./т.
                            .product__characteristic Состав - Хвоя опилки
                        a(class="btn product__anchor" href="#ruf") Купить

                    .product.product-list__item
                        .column
                            .product__img-wrap
                                img(class="product__img" src="img/picture-brikety-3.jpg")

                            .product__title Pini Kay
                            .product__price 7 150 руб./т.
                            .product__characteristic Состав - Хвоя опилки
                        a(class="btn product__anchor" href="#pini-kay") Купить

                    .product.product-list__item
                        .column
                            .product__img-wrap
                                img(class="product__img" src="img/picture-brikety-4.jpg")

                            .product__title Торф-брикет
                            .product__price 5 000 руб./т.
                            .product__characteristic Состав - Торф
                        a(class="btn product__anchor" href="#torf-briket") Купить


                .table-wrap
                    table.table
                        tbody
                            tr
                                th Наименование
                                th Состав
                                th Цена руб./т.
                            tr#ruf
                                td RUF
                                td Береза опилки
                                td.price 7 150 руб.
                            tr
                                td RUF
                                td Хвоя опилки
                                td.price 7 100 руб.
                            tr
                                td Pini Kay
                                td Береза опилки
                                td.price 7 200 руб.
                            tr#pini-kay
                                td Pini Kay
                                td Хвоя опилки
                                td.price 7 150 руб.
                            tr#torf-briket
                                td Торф-брикет
                                td Торф
                                td.price 5 000 руб.
