block promo
    .promo
        .container.promo__container
            p.promo__title Уникальная акция до <span class="promotionDateHtmlHolder"></span года:
            p.promo__p <span class="text_color_primary">Бесплатная доставка</span> при заказе <span class="text_color_primary">от 5 тонн</span>
            p.promo__p <span class="text_color_primary">Бесплатная доставка и скидка 3%</span> при заказе <span class="text_color_primary">от 10 тонн</span>
            p.promo__p <span class="text_color_primary">Бесплатная доставка и скидка 5%</span> при заказе <span class="text_color_primary">от 20 тонн</span>