block question-section
    .question-section#question-section
        .container
            h2.title.title_h2
                span.title__text Почему мы?
                span.title__divider

            .feature-list
                .feature
                    i.icon.icon_security
                    .feature__title Надежность
                    .feature__text Всегда четко исполняем взятые на себя обязательства. Не нарушаем график поставок даже в периоды пикового спроса.
                .feature
                    i.icon.icon_low-prices
                    .feature__title Цена/Качество
                    .feature__text Минимальные цены на рынке. При этом не экономим на качестве. Минимальной цены добиваемся за счет снижения операционных издержек.
                .feature
                    i.icon.icon_customer
                    .feature__title Клиент прежде всего
                    .feature__text Это золотое правило мы используем в каждом аспекте своей работы и прививаем каждому менеджеру и сотруднику.