.icon {
  display: inline-block
  width: 22px
  height: 22px
  background-position: center
  background-repeat: no-repeat
  &_phone {
    background-image: url("../img/icon-phone.png")
  }
  &_email {
    background-image: url("../img/icon-email.png")
  }
  &_placemark {
    height: 28px
    background-image: url("../img/icon-placemark.png")
  }
  &_arrow {
    background-image: url("../img/icon-arrow.png")
  }
  &_security {
    background-image: url("../img/icon-security.png")
  }
  &_low-prices {
    background-image: url("../img/icon-low-prices.png")
  }
  &_customer {
    background-image: url("../img/icon-customer.png")
  }
}