.logo {
  display: flex
  align-items: center
  width: 525px

  &__text {
    margin-left: 30px
  }

  &__title {
    margin-bottom: 4px
    color: #595959
    font-size: 29px
    font-weight: 900
    text-transform: uppercase
    letter-spacing: 1.95px
  }

  &__subtitle {
    color: #707070
    font-size: 18px
    font-weight: 300
  }
}