extends pug-components/layout

block append title
    -page = '«Интернет-магазин биотоплива нового поколения»'

block content
    include pug-components/promo
    include pug-components/award
    include pug-components/product-section
    include pug-components/question-section
    include pug-components/feedback-section
    include pug-components/contact-section

